* {
	margin: 0;
}

html, body {
	height: 100%;
}

h1, h2, h3,h4, h5, h6, p {

	margin-bottom: 20px;
}

.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.sectOne{
	background-image: url("/static/img/about1.png"); 
}

.sectTwo{
	background-image: url("/static/img/about2.png");
}	

.sectThree{
	background-image: url("/static/img/about3.png");
}

.partOne{
	background-image: url("/static/img/clipart1.png");
	background-repeat: no-repeat;
	background-color: #303028;
}

.partTwo{
	background-image: url("static/img/clipart2.png");
	background-repeat: no-repeat;
	background-color: #303028;
}

.partOne p {
	height: 100%;
	color: #b7c38c;
	padding: 120px 70px;
	font-size: 130%;
	text-align: justify;
}

.partTwo p {
	height: 100%;
	color: #b7c38c;
	padding: 120px 70px;
	font-size: 130%;
	text-align: justify;
}

.pythons {
	height: 200px;
	margin-top: 99px;
	margin-left: 185px;
}

.markets {
	height: 245px;
	margin-top: 64px;
	margin-left: 179px;
}
